<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>09:00-09:30</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>09:30-10:00</td>        <!-- time    -->
        <td>Set Up</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:00-10:30</td>        <!-- time    -->
        <td>Introduction</td>        <!-- content -->
      </tr>
      <tr> 
        <td>10:30-10:45</td>
        <td>Morning Break</td>
      </tr>
      <tr>
        <td>10:45-12:00</td>
        <td>Data Organization in Spreadsheets</td>
      </tr>
      <tr>
        <td>12:00-12:30</td>
        <td>Lunch Break</td>
      </tr>
      <tr>
        <td>12:30-14:00</td>
        <td>Data Management with SQL</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>09:00-10:30</td>        <!-- time    -->
        <td>Introduction to Python</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:30-10:45</td>        <!-- time    -->
        <td>Morning Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:45-12:00</td>        <!-- time    -->
        <td>Introduction to Python Cont'd</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>12:00-12:30</td>        <!-- time    -->
        <td>Lunch Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>12:30-14:00</td>        <!-- time    -->
        <td>Python: Data Analysis</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>09:00-10:30</td>        <!-- time    -->
        <td>Continuation of Python: Data analysis and Visualization</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:30-10:45</td>        <!-- time    -->
        <td>Morning Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:45-12:00</td>        <!-- time    -->
        <td>Continuation of Python: Data analysis and Visualization</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>12:00-12:30</td>        <!-- time    -->
        <td>Lunch Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td><12:30-14:00/td>        <!-- time    -->
        <td>Summary and Reflection</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
